.groupUsersImages{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4px;
    margin-left: 4px;
}

.singleMemberInGroup{
    padding: 4px;
}

.groupMembersTitle{
    margin-top: 40px; 
}

.membersAndAdmin{
    display: flex;
}

.titleAndAdmin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}

.location{
    margin-left: 10px;
}
.adminImageTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:4px;
}